// utilities

// container
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
}
// Buttons
%btn-shared {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.btn {
  text-decoration: none;
  &-form {
    @extend %btn-shared;
    background: $tertiary-color;
    color: $light-color;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    width: 30%;
  }
  &-dashboard {
    @extend %btn-shared;
    background: $primary-color;
    color: $light-color;
    text-align: center;
    font-size: 0.8rem;
    &:hover {
      
      &:hover {
        color: $primary-color;
        background: $secondary-color;
      }
    }
  }
  &-search {
    @extend %btn-shared;
    background: $primary-color;
    color: $light-color;
    padding: 0.8rem 1.5rem;
    margin-left: 0.5rem;
  }
  &-delete {
    @extend %btn-shared;
    border-radius: 25% 5% 25% 5%;
    background: $tertiary-color;
    .icon-delete {
      color: $light-color;
    }
    &:hover {
      background: $red-color;
    }
  }
  &-edit {
    padding: 0.5rem 0.9rem;
    margin-right: 5px;
    border-radius: 25% 5% 25% 5%;
    background: $tertiary-color;
    transition: all 0.3s ease 0s;

    .icon-edit {
      color: $light-color;
    }
    &:hover {
      background: $green-color;
    }
  }
  &-landing {
    @extend %btn-shared;
    border: 1px $secondary-color solid;
    margin: 1rem;
    color: $secondary-color;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $primary-color;
      background: $secondary-color;
    }
  }

  &-actions {
    @extend %btn-shared;
    color: $primary-color;
    cursor: pointer;
    &:hover {
      color: $secondary-color;
    }

  }
  &-modal {
    @extend %btn-shared;
    margin: 1rem 0 0 0.8rem;

    &:hover {
      background: $primary-color;
      color: $light-color;
    }
  }
}

// Add box shadow
.add-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
// add border radiys
.add-border-radius {
  border-radius: 5px;
}

.add-margin-y {
  margin: 0 1rem;
}
.add-margin-x {
  margin: 1rem 0;
}
