// utilities

// container
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
}
// Buttons
%btn-shared {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  text-decoration: none !important  ;
}

.btn {
  text-decoration: none;
  &-main {
    @extend %btn-shared;
    background: $primary-color;
    color: $light-color;
    text-decoration: none;
    &:hover {
      background: $secondary-color;
      color: $primary-color;
    }
  }
  &-form {
    @extend %btn-shared;
    background: $tertiary-color;
    color: $light-color;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    width: 30%;
    &:hover {
      background: $primary-color;
    }
  }
  &-dashboard {
    @extend %btn-shared;
    background: $primary-color;
    color: $light-color;
    text-align: center;
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  &-delete {
    @extend %btn-shared;
    border-radius: 5px;
    background: 	$tertiary-color;
    .icon-delete { 
      color:$light-color;
    }
    &:hover {
      background: #eb1010;;
    }

  }
  &-edit {
    padding: 0.4rem 0.8rem;
    margin-right: 5px;
    border-radius: 5px;
    background: $tertiary-color;

    .icon-edit {
      color:$light-color;
    }
    &:hover {
      background: $green-color;
    }
  }
  &-modal {
    @extend %btn-shared;
    margin: 1rem 0 0 0.8rem;

    &:hover {
      background: $primary-color;
      color: $light-color;
    }
  }
}

// Add box shadow
.add-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
// add border radiys
.add-border-radius {
  border-radius: 5px;
}

.add-margin-y {
  margin: 0 1rem;
}
.add-margin-x {
  margin: 1rem 0;
}
